APP_ENV="development"
APP_PORT=8085

DATABASE_PORT=5432
DATABASE_HOST=postgres-transaction
DATABASE_NAME=warehouse_transaction_db
DATABASE_USER=postgres
DATABASE_PASSWORD=lokal
DATABASE_MAX_OPEN_CONNECTIONS=100
DATABASE_MAX_IDLE_CONNECTIONS=20

RABBITMQ_HOST=warehouse_rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

REDIS_HOST=warehouse_redis
REDIS_PORT=6379

MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_MERCHANT_ID=
MIDTRANS_IS_PRODUCTION=false

URL_API_GATEWAY=http://api-gateway:8080
# API_GATEWAY_GRPC_URL=api-gateway:50050
# USE_GRPC=true

JWT_SECRET_KEY="secret"
JWT_ISSUER="jwt-warehouse"
JWT_DURATION=1